<p id="notice"><%= notice %></p>

<h2>Listing Build Results</h2>

<table class="pure-table">
  <thead>
    <tr>
      <th>Build</th>
      <th>Device</th>
      <th>Status</th>
      <th>Log file</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @build_results.each do |build_result| %>
      <tr>
        <td><%= build_result.build_id %></td>
        <td><%= build_result.device.model %></td>
        <td><%= build_result.passed ? "Passed" : "FAILED" %></td>
        <td><%= build_result.log_file %></td>
        <td><%= link_to 'Show', [@project, @build, build_result] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

