<p id="notice"><%= notice %></p>

<p>
  <strong>Build:</strong>
  <%= link_to "##{@build.id}", project_build_build_results_path(@project, @build) %>
</p>

<p>
  <strong>Device:</strong>
  <%= @build_result.device.model %>
</p>

<p>
  <strong>Status:</strong>
  <%= @build_result.passed ? "Passed" : "FAILED" %>
</p>

<p>
  <strong>Logs:</strong>
  <div style="background-color: #f2f2f2; padding: 5px;">
      <%= simple_format(@logs) %>
  </div>
</p>
