<p id="notice"><%= notice %></p>

<h2>Listing Builds</h2>

<table class="pure-table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Ci build number</th>
      <th>Status</th>
      <th>Error</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= build.project_id %></td>
        <td><%= build.ci_build_number %></td>
        <td><%= build.status %></td>
        <td><%= build.error %></td>
        <td><%= link_to 'Show', [@project, build] %></td>
        <td><%= link_to 'Destroy', [@project, build], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
