<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.location %></td>
        <td><%= link_to "Build Now", build_now_project_path(project), class: "pure-button" %></td>
        <td><%= link_to "Devices", project_devices_path(project), class: "pure-button" %></td>
        <td><%= link_to "Builds", project_builds_path(project), class: "pure-button" %></td>
        <td><%= link_to 'Show', project, class: "pure-button" %></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: "pure-button" %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, class: "pure-button" %>
