<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Ruby Version:</strong>
  <%= @project.ruby_version %>
</p>

<p>
  <strong>Ruby Gemset:</strong>
  <%= @project.ruby_gemset %>
</p>

<p>
  <strong>Build Variant:</strong>
  <%= @project.build_variant %>
</p>

<p>
  <strong>Git Repository:</strong>
  <%= @project.git_repo %>
</p>

<p>
  <strong>Git Branch:</strong>
  <%= @project.git_branch %>
</p>

<p>
  <strong>Vagrant IP:</strong>
  <%= @project.vagrant_ip %>
</p>

<p>
  <strong>Number of Builds:</strong>
  <%= @project.builds.count %>
</p>

<p>
  <strong>Last Build:</strong>
  <%= b = @project.builds.last; link_to b.id, [@project, b] if b %>
</p>

<p>
  <strong>Last CI Build:</strong>
  <%= b = @project.last_ci_build; link_to b.ci_build_number + " (#{b.id})", [@project, b] if b %>
</p>




<%= link_to 'Build Now', build_now_project_path(@project), class: "pure-button"  %>
<%= link_to 'Test Build Now', build_now_project_path(@project) + "?test_build=true", class: "pure-button" %>
<%= link_to "Devices", project_devices_path(@project), class: "pure-button" %>
<%= link_to "Builds", project_builds_path(@project), class: "pure-button" %>
<%= link_to 'Edit', edit_project_path(@project), class: "pure-button" %>
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "pure-button" %>
