<!DOCTYPE html>
<html>
<head>
  <title>Monkizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <%= render partial: "common/menu" %>
</div>
<div>
  <%= render partial: "common/device" %>
</div>

<div>
  <%= yield %>
</div>

</body>
</html>
